html {
font-family: Arial, Helvetica, sans-serif;
font-size: 0.8em;
padding: 0;
margin: 0;
}

#container {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}

.parent {
    text-align: center;
}

/* Google Logo */

#g-logo {
    margin-top: 150px;
}

.logo {
    display: inline-block;
}

/* Search Bae */

#search-container {
border: 1px solid #b3b3b3;
margin: 15px auto;
width: 400px;
border-radius: 3px;
box-shadow: 1px 1px 1px #b3b3b3;
}

#search-bar {
    width: 350px;
    height: 35px;
    border: none;
    font-size: 1em;
}